.caption-container{
    max-width: 1340px;
    width: 95%;
    margin: 0 auto;
    margin-top: 4%;

    &-headline{
        border-radius: 15px;
        text-align: center;
        color: #FFFFFF;
        background-color: #105B60;
        padding: 90px;

        &-parts{
            &-first-title{
                font-size: 60px;
            }
            &-second-title{
                font-size: 55px;
            }
            &-description{
                margin: 0 auto;
                width: 72%;
                margin-top: 15px;
            }
        }
    }
    &-images{
        &-first-img{
            position: absolute;
            margin-left: 10%;
            margin-top: -28%;
            width: 10%;
        }
        &-second-img{
            position: absolute;
            margin-left: 22%;
            margin-top: -7%;
            width: 12%;
        }
        &-third-img{
            position: absolute;
            margin-left: 76%;
            margin-top: -21%;
            width: 10%;
        }
    }
}
