


.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;  
}


.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.buttons button:hover {
    background-color: #006666;
}

.buttons .active {
    background-color: #004d4d;
}




.search-bar input {
    flex: 1;
    padding: 10px;
    border: 2px solid #008080;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.search-bar input:focus {
    border-color: #005f5f;
    box-shadow: 0px 0px 5px rgba(0, 128, 128, 0.5);
}

.catalog-table {
    width: 100%;
    border-collapse: collapse;
    background: #004d4d;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.catalog-table th, .catalog-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #007777;
}

.catalog-table th {
    background: #006666;
}

.catalog-table tr:hover {
    background: #005555;
    transition: 0.3s;
}


.search-bar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.search-bar.open {
    max-height: 100px; 
}



@media (max-width: 768px) {
    .search-bar-large {
        display: none;
    }

    .search-bar {
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .search-bar.open {
        display: flex;
    }

    .burger-menu {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
    .kot{
        display: none;
    }
}


@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .search-bar-large {
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .search-bar-large input {
        width: 200px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
}


.kot{
    display: flex;
}