.support_value {
    .title_value {
        margin-top: 180px;
        color: #105B60;
        font-size: 30px;
    }

    .value__container {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .value__block {
            display: flex;
            flex-direction: column;
            width: 25%;
            background-color: #105B60;
            padding: 20px;
            min-height: 230px;
            gap: 15px;
            border-radius: 10px;

            &-image {
                width: 20%;
                height: 53px;
            }

            &-description {
                font-family: "Montserrat", sans-serif;
                font-size: 16.5px;
                line-height: 100%;
                color: #FFFFFFCC;
            }

            &-title {
                font-size: 18px;
                color: #FFFFFF;
            }
        }

    }

    @media (max-width: 1024px) {
        .value__container {
            flex-wrap: wrap;

            .value__block {
                width: 48%;
            }
        }
    }

    @media (max-width: 576px) {
        .value__container {
            flex-wrap: wrap;
            flex-direction: column;

            .value__block {
                width: 100%;
            }
        }
    }

}